/* Variáveis */
:root {
  --footer-size: 80px;
  
}

/* Padrão */
html{
  background-color: #1b1b1b;
  height: 100%;
}
.conteudo {
  margin: 0px;
  padding: 0px;
  padding-bottom: var(--footer-size);
}
body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  position: relative;
}
p {
  padding-left: 25px;
  padding-right: 25px;
  color: #ffffffd1
}
a {
  text: underline;
  text-decoration: none;
  color: #c80bad;
}

/* Cabeçalho - Posicionamento*/
.titulo {
  padding: 0px;
  color: #20d3ea
}

.cabecalho {
  background-color: #000000b8;
  
}
.main_menu > li {
  list-style: none;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 2px;
  border-bottom: 2px solid transparent;
}
.main_menu > li a{
  padding: 10px;
  border-bottom: 2px solid transparent;
}
nav ul::after{
  content: "";
  display: block;
  clear: both
}
.main_menu {
  display: block;
  padding: unset;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;  
}
.cabecalho {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 0px;
}

/* Cabeçalho - Interações */
.main_menu > li:hover {
  border-bottom: 2px solid #ffffffb8;
  background-color: #ffffff1f;
  transition: 250ms all
}

/* rodapé */
footer {
  display: block;
  background-color: #000000b8;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-size);
}
footer li::after{
  display: block;
  content: "";
  clear: both;
}
footer li {
  float: left;
  list-style: none;
}
footer li p {
  float: left;
  width: unset;
}
footer img {
  max-width: 50px;
  float: left;
  margin-top: 0 auto;
  margin-bottom: 0 auto;
  width: box-sizing;
}
footer > dir {
  diplay: block;
  margin: auto;
  width: fit-content;
}
